body {
    background-color: #232339;
}

div {
    background-color: #2E2E48;
    border-radius: 5px;
    
    margin: 10px;
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: auto;
}

h1 {
    color: #f8f2fc;
}

label {
    color: #ACB1C3;
}

button {
    background-color: #2a337e;
    border-radius: 5px;
    padding: 10px;
   
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-color: #2a337e;
    margin-top: 20px;
    color: #f8f2fc;
}

p {
    color: #f8f2fc;
}

input {
    border-radius: 5px;
    padding: 9px;
    width: 27%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-color: #f8f2fc;
    margin-top: 20px;
    color: #000000;
}

footer {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: auto;
    color: #f8f2fc;
}