body {
    background-color: #232339;
}

main {
    display: flex;
}

div {
    background-color: #2E2E48;
    border-radius: 5px;
    margin: 10px;
    width: 50rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: auto;
}

.divTalbe {
    border-radius: 5px;
    margin: 10px;
    width: 15rem;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: auto;
    align-items: center;
    padding: auto;
}

h1 {
    color: #f8f2fc;
}

label {
    color: #ACB1C3;
}

button {
    background-color: #2a337e;
    border-radius: 5px;
    padding: 10px;

    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-color: #2a337e;
    margin-top: 20px;
    color: #f8f2fc;
}

p {
    color: #f8f2fc;
}

input {
    border-radius: 5px;
    padding: 9px;
    width: 27%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-color: #f8f2fc;
    margin-top: 20px;
    color: #000000;
}

footer {
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: auto;
    color: #f8f2fc;
}

table {
    align-self: center;
    padding: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #f8f2fc;
    margin: auto;
    border-collapse: collapse;
    border: 1px solid #f8f2fc;
}

tr {
    border: 1px solid #f8f2fc;
}

td {
    border: 1px solid #f8f2fc;
}

caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}